.container{
  width: 100%;
}

.home{
  min-height: calc(100vh - 88px);
}

.homeNav{
  border-bottom: 1px solid #E9E9E9;
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  color: #00263C;
  padding: 5px 12px;
}

.homeIcon a{
  color: #00263C;
  margin-left: 15px;
}

.homeContent{
  color: #00263C;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.header{
  color: #00263C;
  font-size: 25px;
  font-weight: 700;
  padding: 5px 10px;
  border-bottom: 1px solid #E9E9E9;
}

.imgSection{
  width: 100%;
  height: calc(100vh - 203px);
  display: grid;
  grid-template-columns: 265px 1fr;
  align-items: center;
  gap: 10px;
}

.navImages{
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  height: 100%;
  width: 100%;
}

.col{
  height: 170px;
  position: relative;
  border-radius: 5px;
  }

.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #00000073;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay p{
  color: #fff;
  font-size: 17px;
  font-weight: 500;
}

.overlay a{
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.3);
}

.carousel{
  flex: 1;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.carouselText{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.carouselText .date{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carouselText i{
  color: #FE821E;
}

.carouselText p{
  flex: 1;
  padding: 10px 0;
  font-size: 17px;
  color: #1B3C94;
  font-weight: 500;
}

.vichles{
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
}

.vichles .row{
  display: flex;
  flex-direction: column;
}


.banner{
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  height: 300px;
}

.allNews{
  display: grid;
  gap: 10px;
}

.categ{
  display: grid;
  gap: 20px;
  grid-template-columns:400px 1fr;
}

.newsData{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newsData .newsBtn{
  border: none;
  background-color: #FE821E;
  border-radius: 5px;
  color: #fff;
  padding: 5px;
}

.newsData p{
  width: 200px !important;
}

.newsText{
  max-width: 500px;
}

.videos{
  width: 100%;
  height: 100%;
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;

}

.videos .videoImg{
  padding: 10px;
  position: relative;
}
.videos .videoOverLay{
  position: absolute;
  min-width: 320px;
  max-width: fit-content;
  border-radius: 5px;
  height: 100%;
  top: 0px;
  left: 0;
  background-color: #00000073;
  display: flex;
  justify-content: center;
  align-items: center;
}

.videos .videoOverLay i{
  width: 40px;
  height: 40px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
